@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	background: white;
	font-size: 12px;
	margin: 0;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent; /* make scrollbar transparent */
}

#backgroundPattern {
	background-color: #ebe9e9;
	opacity: 1;
	background-image: linear-gradient(
			30deg,
			#f0eded 12%,
			transparent 12.5%,
			transparent 87%,
			#f0eded 87.5%,
			#f0eded
		),
		linear-gradient(
			150deg,
			#f0eded 12%,
			transparent 12.5%,
			transparent 87%,
			#f0eded 87.5%,
			#f0eded
		),
		linear-gradient(
			30deg,
			#f0eded 12%,
			transparent 12.5%,
			transparent 87%,
			#f0eded 87.5%,
			#f0eded
		),
		linear-gradient(
			150deg,
			#f0eded 12%,
			transparent 12.5%,
			transparent 87%,
			#f0eded 87.5%,
			#f0eded
		),
		linear-gradient(
			60deg,
			#f0eded77 25%,
			transparent 25.5%,
			transparent 75%,
			#f0eded77 75%,
			#f0eded77
		),
		linear-gradient(
			60deg,
			#f0eded77 25%,
			transparent 25.5%,
			transparent 75%,
			#f0eded77 75%,
			#f0eded77
		);
	background-size: 58px 102px;
	background-position: 0 0, 0 0, 29px 51px, 29px 51px, 0 0, 29px 51px;
}

.loadingCard {
	animation: 500ms ease-in-out 0s infinite alternate skeletonCard;
}

@keyframes skeletonCard {
	0%{
		background-color: #fefefe;
	}100%{
		background-color: #ffffff;
	}
}

.module {
	height: 10vh;
	aspect-ratio: 1;
	background-color: white;
	justify-content: center;
	align-items: center;
	color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 4px;
	margin: 4px;
	border-radius: 16px;
}

#login {
	background-image: url("../assets/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#register {
	background-image: url("../assets/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.regCard,
.loginCard {
	/* From https://css.glass */
	/* From https://css.glass */
	background: rgba(32, 32, 32, 0.85);
	border-radius: 4px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	border: 2px solid rgba(64, 64, 64, 0.5);
}

.submit {
	font-size: 1.35em;
	border-radius: 1em;
	color: white;
	padding: 0.5em;
	margin-top: 1em;
	font-weight: light;
	background-color: rgba(242, 25, 25, 0.95);
}

.dashboard {
	background-image: url("../assets/img/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#logo {
	background-image: url("../assets/img/logo.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	border-radius: 9999px;
}

#register input,
#login input,
select {
	height: 2.75em;
	text-size: 1.25em;
	background-color: white;
	border-radius: 4px;
	border-width: 1px;
	border-color: #aaaafa;
	padding-left: 8px;
	padding-right: 8px;
	color: black !important;
	box-shadow: inset 1px 1px 16px 2px #ddddee;
	margin-bottom: 1.25em;
}

#register input,
#login input {
	padding: 2.5px;
}

#register label,
#login label {
	font-weight: lighter;
	font-size: 1.25em;
}

label::after {
	content: ":";
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

#loading {
	animation: 2s ease 0.2s infinite normal loading;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
