@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	background: white;
	font-size: 12px;
}

.header {

}

.module {
	height: 10vh;
	aspect-ratio: 1;
	background-color: white;
	justify-content: center;
	align-items: center;
	color: black;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 4px;
	margin: 4px;
	border-radius: 16px;
}

#login{
	background-image: url("../assets/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#register {
	background-image: url("../assets/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.regCard {
	/* From https://css.glass */
/* From https://css.glass */
background: rgba(56, 56, 56, 0.75);
border-radius: 2px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(56, 56, 56, 0.3);
}

.loginCard {
	/* From https://css.glass */
/* From https://css.glass */
background: rgba(32, 32, 32, .75);
border-radius: 4px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
border: 1px solid rgba(56, 56, 56, 0.3);
}


.submit{
	font-size: 1.35em;
	border-radius: 1em;
	color: white;	
	border-width: 2px;
	padding: .5em;
	font-weight: light;
	background-color: rgba(202, 0, 0, .75);
}

.dashboard{
	background-image: url("../assets/img/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
}

#logo{
	background-image: url("../assets/img/logo.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 64px;
	height: 64px;
	border-radius: 9999px;
}

#register input, #login input, select{
	height: 2.75em;
	text-size: 1.25em;
	background-color: white;
	border-radius: 8px;
	border-color: #888899;
	padding-left: 8px;
	padding-right: 8px;
	box-shadow: inset 1px 1px 16px 1px #ddddee;
	margin-bottom: 1.25em;
}

#register input, #login input{
	padding: 2.5px;
}

#register label, #login label{
	font-weight: lighter;
	font-size: 1.25em;
}

label::after{
	content: ':';
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

#loading{
	animation: 2s ease 0.2s infinite normal loading;
}

@keyframes loading{
	from {
		transform: rotate(0deg);
	}to{
		transform: rotate(360deg);
	}
}